
.container{
    height:auto;
}
.image{
   background-image: url(./pic/lumlogo.jpg);
   background-size: cover;
   width: 236px;
   height: 66px;
}

.heading h1

{
 float: left;

}
.heading p
{
    float: left;
     margin-bottom: 90px; 
     text-align: left;
    }
    .btn1{
        background-color: blueviolet;
         border-radius: 50px;
          border: none; 
          margin-top: auto;
          float: left;
           height: 55px;
            width: 138px; 
            color: aliceblue; 
    }


@media(max-width:767px)
{
    .but{
        margin-right: auto;
    }
    .image{
    
        width: 232px;
        height: 62px;
    }
    
     
    .main{
        margin-top: 92px;
    }
    .btn1{
        height: 13px;
        width: 55px;
        /* margin-bottom: auto; */
        margin-top: -4px;
        text-align: center;
        font-size: 8px;
    }

    
    .heading{
        margin-top: auto;
        float: left;
        font-size: 9px;
        color: #efe3e3;
        height: 100px;
    }
    .heading p{
        font-size: 7px;
    margin-top: 10px;
    }
    .heading h1{
        margin-top: auto;
        font-size: 10px;
    margin-top: 21px;

}

}

    
    
    
